parameters:
    parallel:
        maximumNumberOfProcesses: 4
    tmpDir: var/cache/phpstan
    paths:
        - src

services:
    -
        class: PlanB\Core\DS\PHPStan\Rule\ElementTypeRule
        tags:
            - phpstan.rules.rule